obj
bin
lib
project/cppia_bin
test/ndlls/cpp
test/ndlls/cpp64
test/std/arm32
test/std/arm64
test/std/cpp32
test/std/cpp64
test/std/mybase.db
test/opMatrix/Ops.hx
test/opMatrix/cpp
test/haxe/cpp
test/telemetry/cpp
test/extern-lib/gen-externs
test/cffi/project/ndll
test/snippets/messagebox/cpp
hxcpp.n
hxcpp-fallback.n
.DS_Store

*.swp
*.exe
*.pdb
*.ilk
