name: main
on: [push, pull_request]

jobs:
  check-headers:
    name: Check headers
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Install pcre2grep
      run: sudo apt-get update && sudo apt-get install -y pcre2-utils

    - run: |
        # macros in public headers must use the global namespace to qualify types
        ! pcre2grep --buffer-size=1M --recursive --multiline --line-number --include='.*\.h$' \
          '#define\s+(?:.*\\\r?\n)*.*?\K(?<!:)\b(Enum|String|StringOffset|Array|ArrayClassID|Array_obj|Math|Math_obj|Void|null|Dynamic|hx::|cpp::)\b' \
          include
      name: Check public headers

  Windows32:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test Windows (32bit)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: 32
      sep: \
      ext: .dll
      os: windows-latest

  Windows64:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test Windows (64bit)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: 64
      sep: \
      ext: .dll
      os: windows-latest

  MacOS64:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test MacOS (x86_64)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: 64
      sep: /
      ext: .dylib
      os: macos-15-intel

  MacOSArm:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test MacOS (Arm64)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: Arm64
      sep: /
      ext: .dylib
      os: macos-latest

  Linux32:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test Linux (32bit)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: 32
      sep: /
      ext: .dso
      os: ubuntu-latest

  Linux64:
    strategy:
      fail-fast: false
      matrix:
        haxe: [ 4.3.7, latest ]
    uses: ./.github/workflows/test.yml
    name: Test Linux (64bit)
    with:
      haxe: ${{ matrix.haxe  }}
      arch: 64
      sep: /
      ext: .dso
      os: ubuntu-latest
